@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #12486B;
    --secondary-color: #419197;
    --tertiary-color: #78D6C6;

    --white-color: #F5FCCD;

}

.main-context-form {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-context-form .main-context-form-container {
    margin-top: 4px;
    width: 70%;
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

.main-context-form div form {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-context-form .form-radio {
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-context-form div form label {
    font-size: 18px;
    margin-bottom: 4px;
}

.main-context-form div form input {
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.main-context-form div form button {
    margin-top: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 4px;
}