@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
}

[data-theme="light"] {
    --primary-color: #12486B;
    --secondary-color: #419197;
    --tertiary-color: #78D6C6;
    --white-color: #F5FCCD;
    --body-color: #FFFFFF;
     color: #000000;
}

[data-theme="dark"] {
    --primary-color: #000a1a;
    --white-color: #F5FCCD;
    --body-color: #000a1a;
    color: #ffffff;
}

button {
    cursor: pointer;
}

.button_header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 18px;
}

input:focus-visible {
    border: none;
}










.form_input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--white-color);
    color: black;
}

.form_button {
    margin-top: 12px;
    background-color: var(--white-color);
    ;
    color: black;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 16px;
    display: block;
    min-height: 20px;
    margin-top: 4px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}